<admin-panel [selectedTab]="'products'"></admin-panel>
<p></p>
<div class="form-inline justify-content-between">
    <select class="form-control-sm" id="category" name="category" [(ngModel)]="selectedCategoryId" (change)="loadProducts()">
        <option value="undefined">All categories</option>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
    <button [routerLink]="['/admin/products/create']" class="btn btn-sm btn-dark">
        <span class="fa fa-plus"></span> Add new product
    </button>
</div>
<p></p>
<div *ngIf="!isLoaded" class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<table *ngIf="isLoaded" class="table table-striped">
    <thead>
        <tr>
            <th style="width: 50%">Product</th>
            <th style="width: 40%">Price</th>
            <th style="width: 10%">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <button [routerLink]="['/admin/products/edit', product.id]" class="btn btn-sm btn-dark">
                    <span class="fa fa-edit"></span>
                </button>

                <button (click)="delete(product.id)" class="btn btn-sm btn-dark">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="isLoaded && products.length == 0">
    <p></p>
    <h6 class="text-center">There are no products in this category</h6>
</div>