<admin-panel [selectedTab]="'orders'"></admin-panel>
<p></p>
<div class="form-inline justify-content-between">
    <select class="form-control-sm" id="status" name="status" [(ngModel)]="selectedOrderStatus" (change)="loadOrders()">
        <option value="-1">All orders</option>
        <option *ngFor="let status of getOrderStatuses(); let i = index" [value]="i">{{status}}</option>
    </select>
</div>
<p></p>
<div *ngIf="!isLoaded" class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<table *ngIf="isLoaded" class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">Id</th>
            <th style="width: 20%">Products</th>
            <th style="width: 20%">Customer</th>
            <th style="width: 25%">Shipping address</th>
            <th style="width: 10%">Price</th>
            <th style="width: 10%">Status</th>
            <th style="width: 5%">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td class="text-sm" title="{{order.id}}">{{order.id.substring(0,5)}}...</td>
            <td>
                <ol class="pl-3">
                    <li *ngFor="let product of order.products">{{product.name}}</li>
                </ol>
            </td>
            <td>
                {{order.customerName}}
                <br>
                <a href="mailto:{{order.customerEmail}}">
                    <u>{{order.customerEmail}}</u>
                </a>
            </td>
            <td>{{order.address}}</td>
            <td>${{order.price}}</td>
            <td>
                <div [ngSwitch]="order.status">
                    <div *ngSwitchCase="orderStatus.Processing">Processing</div>
                    <div *ngSwitchCase="orderStatus.Boxing">Boxing</div>
                    <div *ngSwitchCase="orderStatus.Sent">Sent</div>
                </div>
            </td>
            <td class="d-flex justify-content-center">
                <button (click)="update(order)" class="btn btn-sm btn-dark">
                    <span class="fa fa-edit"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="isLoaded && orders.length == 0">
    <p></p>
    <h6 class="text-center">There are no orders.</h6>
</div>