<admin-panel [selectedTab]="'categories'"></admin-panel>
<p></p>
<div class="d-flex justify-content-end">
    <button (click)="create()" class="btn btn-sm btn-dark">
        <span class="fa fa-plus"></span> Add new category
    </button>
</div>
<p></p>
<div *ngIf="!isLoaded" class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<table *ngIf="isLoaded" class="table table-striped">
    <thead>
        <tr>
            <th style="width: 90%">Category</th>
            <th style="width: 10%">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.name}}</td>
            <td>
                <button (click)="update(category)" class="btn btn-sm btn-dark">
                    <span class="fa fa-edit"></span>
                </button>

                <button (click)="delete(category.id)" class="btn btn-sm btn-dark">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="isLoaded && categories.length == 0">
    <p></p>
    <h6 class="text-center">There are no categories.</h6>
</div>