<div class="modal-header">
    <h4 class="modal-title">Sign in</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body row justify-content-md-center">
    <form class="col col-lg-11">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" placeholder="Enter your e-mail"
                email required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Enter your password"
                required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="signUpClick()">
        Sign up
    </button>
    <button type="button" [disabled]="email.invalid || password.invalid" class="btn btn-dark" (click)="signInClick()">
        Sign in
    </button>
</div>