<div class="modal-header">
    <h4 class="modal-title">Edit the order</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="status">Order status:</label>
        <select class="form-control" id="status" name="status" [(ngModel)]="order.status" #status="ngModel" required>
            <option *ngFor="let status of getOrderStatuses(); let i = index" [value]="i">{{status}}</option>
        </select>
    </div>
    <div class="form-group">
        <input id="message" type="checkbox" [(ngModel)]="isNotifiable">
        <label for="message">Notify the customer</label>
    </div>
    <div class="form-group">
        <label for="message">Message:</label>
        <textarea [disabled]="!isNotifiable" class="form-control" id="message" name="message" maxlength="255" [(ngModel)]="notifyMessage"
            #message="ngModel"></textarea>
    </div>
</div>
<div class="modal-footer justify-content-between">
    <ng-template #popContent>
        <button type="button" class="btn btn-outline-danger" (click)="delete()">Yes</button>
        <button type="button" class="btn btn-outline-dark" (click)="p.close()">Cancel</button>
    </ng-template>
    <button type="button" class="btn btn-outline-danger" [ngbPopover]="popContent" placement="top" #p="ngbPopover" popoverTitle="Are you sure?">
        <i class="fa fa-trash"></i> Delete order</button>
    <button type="button" class="btn btn-dark" [disabled]="status.invalid || message.invalid" (click)="save()">Save</button>
</div>