@import '~bootstrap/dist/css/bootstrap.min.css';

a {
    color: #333435;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

.text-small {
    font-size: 0.8rem;
}

.loading-spinner {
    position: absolute;
    font-size: 50px;
    top: 30%;
    left: calc(50% - 25px);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #343a40!important;
}

ngb-typeahead-window {
    width: 100%;
}

.page-item>.page-link {
    color: black;
}

.page-item.active>.page-link {
    z-index: 1;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.nav-pills>.nav-item>.nav-link {
    color: black;
    background: none;
}

.nav-pills>.nav-item>.nav-link.active {
    color: #fff;
    background-color: #343a40;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #333435;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem #33343545;
    box-shadow: 0 0 0 0.2rem #33343545;
}