<div class="modal-header">
    <h4 class="modal-title">Shopping cart</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 5%">#</th>
                <th style="width: 70%">Product</th>
                <th style="width: 20%">Price</th>
                <th style="width: 5%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cartItem of cartItems; index as i">
                <td>{{i+1}}</td>
                <td>{{cartItem.name}}</td>
                <td>{{cartItem.price}}</td>
                <td>
                    <button (click)="delete(i)" class="btn btn-sm btn-dark">
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="cartItems.length == 0">
        <p></p>
        <h6 class="text-center">There are no products in your shopping cart.</h6>
    </div>
</div>
<div class="modal-footer d-flex justify-content-between">
    <div class=" justify-content-start">Total price: ${{totalPrice}}</div>
    <button type="button justify-content-end" [disabled]="totalPrice == 0" class="btn btn-dark" (click)="openOrderForm()">
        Continue
    </button>
</div>